################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/WinForm1/obj/Debug
/WinForm1/bin/Debug
/.vs/ContractReadingTool/v15
